%h3='My content'
-action.each do |k,v|
  %p="#{k} => #{v}"
%p
  %a{:href=>Node1.r('alt')}="alternative"
%p
  %a{:href=>Node2.r('index')}="Node2::index"
%p
  %a{:href=>Node2.r('alt')}="Node2::alt"
%p
  %a{:href=>Node1.r('pour', 'voir')}="nowhere"
